.container{
  width: 400px;
}
.info{
  display: flex;
  justify-content: space-between;
}
.info-title{
  color: deepskyblue
}
.apple-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
.item-btn{
  background: deepskyblue;
  color: #ffffff;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 4px;
}
.add-btn-wrap{
  text-align: center;
}
.basket-wrap{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}